<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Save your cache</title>
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="./lite.css">
        <script src="./lite.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="btn" id="setting_page_btn">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="btn" id="list_page_btn">
                <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>
            <h1>TEXTAREA CACHE</h1>
        </div>
        <div id="main">
            <select id="cache_seletor" name="cache_seletor"></select>
            <div id="show_cache" contenteditable='true'></div>
        </div>
    	<div id="footer">
            <button class="cta_btn" id="copy_btn"></button>
            <button class="cta_btn" id="delete_all_btn"></button>
            <button class="cta_btn" id="delete_btn"></button>
        </div>
    </body>
</html>
