<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Save your cache</title>
        <link rel="stylesheet" href="./lite.css">
        <script src="./lite.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="list_page_btn">list&nbsp;&gt;</div>
            <h1>TEXTAREA CACHE</h1>
        </div>
        <div id="main">
            <select id="cache_seletor" name="cache_seletor"></select>
            <div id="show_cache" contenteditable='true'></div>
        </div>
    	<div id="footer">
            <button class="cta_btn" id="copy_btn"></button>
            <button class="cta_btn" id="delete_all_btn"></button>
            <button class="cta_btn" id="delete_btn"></button>
        </div>
    </body>
</html>
